html, body{
    height: 100%;
    width: 100%;
}

.header{
    background-image: url(/justice\ project\ hero\ image.avif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    margin-left: -10px;
    height: 60%;
    width: 100%;
    
}

.nav-bar{
    position: relative;
}



.organization-name{
    font-size: 50px;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.mission-title, .process-title{
    text-align: center;
    font-size: 30px;
}

.mission-statement{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.mission-content, .process-content{
    display: block;
    margin-block: 10px;
    width: 100%;
    font-size: 20px;
}

.overview, .mission, .process{
   padding: 30px; 
   border: 10px double lightblue;
   margin: 50px;
}

.process{
    max-width: 83%;
    display: flexbox;
    align-content: center;
    margin-left: 80px;
}



.FAQ-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    max-width: 90%;
    margin: 100px auto;
    
    
}

.FAQ-card{
    padding: 10px;
    text-align: center;
    margin-bottom: 100px;
    border: 1px solid black;
    
}

.FAQ-image{
    height: 200px;
    width: 300px;
    
}

.FAQ-header{
  
  text-align: center;
  margin: 50px;
  font-size: 50px;
  


}

.center-grid{
    max-width: 100%;
    margin: 100px auto;
    background-color: lightblue;
    margin-left: -10px;
}