body{
    background-color: white;
    margin: 0;
}
.background{
    background-image: url(/White-Family-Photo.jpeg);
    background-size: cover;
    background-position: center center;
}
h2{
    text-align: center;
    background-color: lightblue;
}
.flex-container{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    height: 200px;
    text-align: center;
    width: auto;
    /*padding-left: 250px;*/
}
.learn-button{
    
}
.Intro{
    margin-bottom: 20px;
    text-align: center;
}
.summary{
    font-weight: bolder;
    font-size: x-large;
}